:root{
    --black: #010101;
    --primary-color: #3A53FF;
    --black-color: #050505;
    --gray-color: #7D7D7D;
    --white-color: #FFFfff;
    --primary-dark: #2045d6;

    --animate-duration: 800ms;
    --animate-delay: 0.9s;
    --body: #fefefe;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--body);
}

.btn{
    border-radius: 8px;
}
.btn-primary,
.btn-warning{
    padding: 12px 20px;
}

.btn-primary{
    background-color: var(--primary-color);
}
.btn-primary:hover{
    background-color: var(--primary-dark);
}
.btn-warning{
    border: 1px solid var(--gray-color);
    color: var(--black);
}
.btn-warning:hover{
    background-color: var(--gray-color);
    border: 1px solid var(--gray-color);
}
.btn-warning:focus{
    background-color: var(--gray-color);
    border: 1px solid var(--gray-color);
    color: var(--black);
}

.navbar .btn-warning{
    border: 1px solid var(--gray-color);
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 16px;
}
.navbar{
    padding: 32px 0;
}

.nav-link{
    margin-left: 40px;
    font-size: 16px;
    color: var(--gray-color);
}

.navbar-nav .nav-link.active{
    font-weight: bold;
    color: var(--black);
}

section.hero{
    padding: 80px 0;
}

section.hero .text{
    font-weight: 800;
    font-size: 40px;
    line-height: 73px;
    color: var(--black);
}